html, body {
    height: 100%;
}

body {
    padding: 56px 0;
}

.navbar .logo {
    width: 30px;
    margin-right: 10px;
}

.chat {
    height: calc(100vh - 112px);
}

#left-panel {
    height: calc(100vh - 112px);
    padding: 20px;
    overflow: auto;
}

#right-panel {
    height: calc(100vh - 112px);

}

#right-panel > .row.f50 > .col {
    padding: 20px;
    overflow: auto;
    height: calc(50vh - 71px);
}

#messages {
    padding: 0;
    list-style: none;
}

#messages li {
    margin-bottom: 10px;
}

#messages li .gravatar {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#messages li .author {
    font-weight: bold;
    margin-right: 10px;
}

#messages li .date {
    font-size: 12px;
    color: grey;
}

#messages li .content {
    margin-left: 50px;
}

#messages li .content p {
    margin: 0;
    padding: 0;
}

#message-form [name="content"] {
    resize: none;
    height: 38px;
    font-family: "Courier New";
}

#users {
    padding: 0;
    list-style: none;
}

#users li {
    margin-bottom: 10px;
}

#users li.disconnected {
    opacity: 0.3;
}

#users li .gravatar {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#users li .nickname {
    margin-right: 10px;
}

#users li .email {
    font-size: 12px;
    color: grey;
}

.static-modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

#users-counter .col{
    text-align: center;
    color: grey;
    height:30px;
    padding:5px;
    display: block;
}

